/*******************************************/
/* eML custom.css,  Version 1.0 : May 2010 */
/*******************************************/

#content
{
	padding:0px 20px;
	background-color:#ffffff;
}

#content dl
{
	margin-left:30px;
}

#content dt
{
	font-size:115%;
}

#content h1
{
	font-size:240%;
}

#content h2
{
	font-size:210%;
}

#content h3
{
	font-size:170%;
}

#content h4
{
	font-size:140%;
}

#content h1, h2, h3, h4
{
	text-align:left;
	margin:20px 0px 5px;
	font-weight:normal;
	text-shadow:#aaaaaa 2px 2px 4px;
	cursor:pointer;
}

#content hr
{
	border:dotted 1px;
	margin:10px 0px 10px;
}

#content img
{
	margin-bottom:2px;
}

#content li, dd
{
	margin-bottom:5px;
}

#content p
{
	margin:0px 0px 5px;
}

#content pre
{
	margin-left:10px;
	padding-left:10px;
}

#content th
{
	background-color:#cccccc;
}

.audioout
{
	margin:15px 0px 15px 30px;
}

.audioin
{
	margin-bottom:2px;
}

.boxout
{
	margin:15px 0px 15px 30px;
	padding:5px;
	border:1px solid #888888;
	background-color:#eeeeee;
	width:90%;
}

.caption
{
	font-style:italic;
	font-size:90%;
	margin-bottom:0px;
}

.cite a
{
	font-size:80%;
	text-decoration:none;
	color:#0000cc;
}

.cite:hover a
{
	text-decoration:underline;
	color:#0000cc;
}

.code
{
	margin-top:10px;
	border-left:dotted 2px #888888;
}

.code1
{
	margin:10px 0px 10px 0px;
	border-left:dotted 2px #888888;
}

.example
{
	margin:15px 0px 15px 20px;
	padding:2px 0px 0px 10px;
}

.figure
{
	margin:15px 0px 15px 30px;
}

.input
{
	text-align:left;
	font-family:'Lucida Console', Monospace, 'Courier New', Courier;
	margin:10px 0px 10px 30px;
	padding:2px 0px 0px 10px;
	border-left:dotted 2px #888888;
	width:90%;
}

.leftsidebar
{
	float:left;
	padding:5px;
	margin-right:10px;
	border:1px solid #888888;
	background-color:#dddddd;
}

.literal
{
	font-family:'Lucida Console', Monospace, 'Courier New', Courier;
	letter-spacing:-.05em
}

.mapout
{
	margin:15px 0px 15px 30px;
}

.mapin
{
	border:solid 1px #888888;
	margin-bottom:3px;
}

.p
{
	text-indent:30px;
}

.p1
{
	text-indent:0px;
}

.qaout
{
	margin:15px 0px 15px 30px;
	padding-left:10px;
	border-left:dotted 1px #888888;
	min-height:32px;
	cursor:pointer;
	width:90%;
}

.qaquestion
{
	color:#226622;
	font-style:italic;
}

.qaanswer
{
	color:#226622;
}

.quote
{
	background:transparent url('quote.png') 5px 0px no-repeat;
	text-align:left;
	padding:5px 0px 0px 35px;
	margin:10px 0px 15px 10px;
	font-family:Times New Roman;
	font-style:italic;
	width:90%;
	color:#444444;
}

.references
{
	font-size:90%;
	font-style:italic;
	color:#444444;
}

.rightsidebar
{
	float:right;
	padding:5px;
	margin-left:10px;
	border:1px solid #888888;
	background-color:#dddddd;
}

.simplebox
{
	margin:15px 0px 15px 30px;
	padding:0px 5px 4px 0px;
	border:1px solid #888888;
	background-color:#eeeeee;
	width:90%;
}

.tab
{
	margin:0px 0px 0px 20px;
}

.tableout
{
	margin:15px 0px 15px 30px;
}

.tablein
{
	margin-top:5px;
	border:solid 1px #aaaaaa;
	max-width:95%;
}

.text
{
	width:90%;
	margin:15px 0px 15px 30px;
	padding:0px 0px 0px 10px;
	border-left:dotted 2px #888888;
}

.url
{
	text-decoration:none;
	color:#0000cc;
}

.url:hover, .url:active
{
	cursor:pointer;
	text-decoration:underline;
	color:#0000cc;
}

.url:focus
{
	color:#880088;
}

.vertdots
{
	border-left:dotted 2px #888888;
}

.youtubeout
{
	margin:15px 0px 15px 30px;
}

.youtubein
{
	margin-bottom:3px;
}
