@CHARSET "ISO-8859-1";
/*body { color:blue }
#div1 { color:red;
		font-size: 10vw;
}*/

/*h1
{
    color: blueviolet;
    text-align:center;
}*/

/*.Germany
{
    color:brown;
}

h2.Germany {
    color:aquamarine;
}*/

/*#mid h2
{
    color:coral;
}*/

input[type="button"]
{
    color:chocolate;
}

h1, h2 {
    color: blueviolet;
    text-align: center;
}
